
.font-rosarivo {
    font-family: 'Rosarivo';
}

@font-face {
    font-family: 'Rosarivo';
    src: url('../Fonts/RosarivoX-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
